@{
    ViewBag.Title = "ToothPicz | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="span3">
            <div class="nav-headers">
                    <h3>Get updates when photos of you and your friends are uploaded to ToothPicz!</h3>
                    <p><a href="@Url.Action("About")" class="btn">Learn how it works &rarr;</a></p>
                </div>
            <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a href="#"><i class="icon-picture"></i> Newest Albums</a></li>
                <li><a href="#"><i class="icon-download"></i> Most Downloads</a></li>
                <li><a href="#"><i class="icon-heart"></i> Recomended</a></li>
            </ul>
        </div>

        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="group" rel="group1" href="#"><img src="@Url.Content("~/Images/4_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>
        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="group" rel="group1" href="#"><img src="@Url.Content("~/Images/3_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>
        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="group" rel="group1" href="#"><img src="@Url.Content("~/Images/1_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>
        
        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="images1" href="#"><img src="@Url.Content("~/Images/5_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>
        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="images2" href="#"><img src="@Url.Content("~/Images/2_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>    
        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="images3" href="#"><img src="@Url.Content("~/Images/4_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>
        <div class="span3 galery">
            <div class="menu-galery">
                <ul>
                    <li><a href="detail.html" rel="tooltip" title="Detail"><i class="iconbig-search"></i></a></li>
                    <li><a href="detail.html" rel="tooltip" title="Add Comment"><i class="iconbig-speak"></i></a></li>
                    <li><a href="#" rel="tooltip" title="Like"><i class="iconbig-black-star"></i></a></li>
                </ul>
            </div>
            <div class="image-galery"><a class="images4" href="#"><img src="@Url.Content("~/Images/3_b.jpg")" /></a></div>
            <div class="count-galery">
                <ul>
                    <li><i class="icon-comment"></i> 5</li>
                    <li><i class="icon-download-alt"></i> 7</li>
                    <li><i class="icon-star"></i> 2</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
<div class="container">
    <div class="pagination">
    <ul>
        <li class="disabled"><a href="#" title="Go to the first page">&laquo; First</a></li>
        <li><a href="#" title="Go to the previous page">&larr;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">..</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#" title="Go to the next page">&rarr;</a></li>
        <li><a href="#" title="Go to the last page">Last &raquo;</a></li>
    </ul>
    </div>
</div>